In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data\survey_results_public.csv', index_col="Respondent")

In [3]:
df['ConvertedComp'].head(15)

Respondent
1          NaN
2          NaN
3       8820.0
4      61000.0
5          NaN
6     366420.0
7          NaN
8          NaN
9      95179.0
10     13293.0
11         NaN
12         NaN
13     90000.0
14     57060.0
15         NaN
Name: ConvertedComp, dtype: float64

In [4]:
df['ConvertedComp'].median()

57287.0

In [5]:
df.median()

CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [6]:
df.describe()

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [8]:
df['ConvertedComp'].count()

55823

In [9]:
df['ConvertedComp'].value_counts()

2000000.0    709
1000000.0    558
120000.0     502
100000.0     480
150000.0     434
            ...
52826.0        1
72888.0        1
7548.0         1
20436.0        1
44947.0        1
Name: ConvertedComp, Length: 9162, dtype: int64

In [10]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [12]:
df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [13]:
df['SocialMedia'].value_counts(normalize=True) # for percentage == 17% reddit

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

In [14]:
#Grouping the data = Splitting the object + applying a func + combining the results
df['Country'].value_counts()

United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
Sao Tome and Principe        1
Papua New Guinea             1
Saint Kitts and Nevis        1
North Korea                  1
Tonga                        1
Name: Country, Length: 179, dtype: int64

In [16]:
#splitting the object
country_group = df.groupby(['Country'])

In [18]:
country_group.get_group('India')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",NaN,...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77339,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Taken an online course in programming or softw...,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79795,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,Participated in a hackathon,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

In [21]:
filt = df['Country']=='India'
df.loc[filt]['SocialMedia'].value_counts()

WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
WeChat 微信                      5
Hello                          5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [29]:
country_group['SocialMedia'].value_counts(normalize=True).loc['China']

SocialMedia
WeChat 微信                   0.670549
YouTube                     0.088186
Weibo 新浪微博                  0.069884
I don't use social media    0.044925
Twitter                     0.044925
Reddit                      0.019967
LinkedIn                    0.018303
Facebook                    0.013311
Instagram                   0.011647
Youku Tudou 优酷              0.011647
WhatsApp                    0.004992
VK ВКонта́кте               0.001664
Name: SocialMedia, dtype: float64

In [31]:
country_group['ConvertedComp'].median().loc['India']

10080.0

In [33]:
country_group['ConvertedComp'].agg(['median', 'mean']).loc['Canada']

median     68705.000000
mean      134018.564909
Name: Canada, dtype: float64

In [49]:
filt = ((df['Country'] == 'India') )
df.loc[filt]['LanguageWorkedWith'].str.contains("Python").value_counts() # or you can use sum()

False    5739
True     3105
Name: LanguageWorkedWith, dtype: int64

In [51]:
country_group['LanguageWorkedWith'].str.contains("Python").sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [69]:
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains("Python").value_counts(normalize=True))

Country
Afghanistan  False    0.794872
             True     0.205128
Albania      False    0.722892
             True     0.277108
Algeria      False    0.682540
                        ...
Yemen        True     0.176471
Zambia       False    0.666667
             True     0.333333
Zimbabwe     False    0.641026
             True     0.358974
Name: LanguageWorkedWith, Length: 335, dtype: float64

In [66]:
country_repondents = df.groupby(['Country'])
country_repondents.map('LanguageWorkedWith'].count()

Country
Afghanistan                              39
Albania                                  83
Algeria                                 126
Andorra                                   7
Angola                                    4
                                       ...
Venezuela, Bolivarian Republic of...     87
Viet Nam                                220
Yemen                                    17
Zambia                                   12
Zimbabwe                                 39
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [78]:
# Question: How to figure out the %age of people who knows Python in a each country
#Can be done in multiple ways-
#Another way: First find the total respondents in the country. 2) find the people using Python 3) the series you get in 1,2 to be concatenated 4) Formulate a new column that contains the part/whole to get the percentage.
#First step
country_repondents = df['Country'].value_counts()
pyth_users_per_country = country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains("Python").sum())

In [79]:
pyth_users_per_country

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [81]:
python_df = pd.concat([country_repondents,pyth_users_per_country], axis='columns') # axis you set to columns bcz by default it's going to be rows

In [82]:
python_df

                       Country  LanguageWorkedWith
United States            20949               10083
India                     9061                3105
Germany                   5866                2451
United Kingdom            5737                2384
Canada                    3395                1558
...                        ...                 ...
Sao Tome and Principe        1                   1
Papua New Guinea             1                   0
Saint Kitts and Nevis        1                   0
North Korea                  1                   0
Tonga                        1                   0

[179 rows x 2 columns]

In [83]:
python_df['Percentage'] = python_df['LanguageWorkedWith']/python_df['Country'] *100

In [84]:
python_df

                       Country  LanguageWorkedWith  Percentage
United States            20949               10083   48.131176
India                     9061                3105   34.267741
Germany                   5866                2451   41.783157
United Kingdom            5737                2384   41.554820
Canada                    3395                1558   45.891016
...                        ...                 ...         ...
Sao Tome and Principe        1                   1  100.000000
Papua New Guinea             1                   0    0.000000
Saint Kitts and Nevis        1                   0    0.000000
North Korea                  1                   0    0.000000
Tonga                        1                   0    0.000000

[179 rows x 3 columns]

In [86]:
python_df['Percentage'].rename('%age of people who know Python', inplace=True)

United States             48.131176
India                     34.267741
Germany                   41.783157
United Kingdom            41.554820
Canada                    45.891016
                            ...
Sao Tome and Principe    100.000000
Papua New Guinea           0.000000
Saint Kitts and Nevis      0.000000
North Korea                0.000000
Tonga                      0.000000
Name: %age of people who know Python, Length: 179, dtype: float64

In [89]:
python_df.rename(columns={'Country':'NumRespondents', 'LanguageWorkedWith':'NumKnowsPython'}, inplace=True)

In [91]:
python_df.loc['Japan']

NumRespondents    391.000000
NumKnowsPython    182.000000
Percentage         46.547315
Name: Japan, dtype: float64