In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["corey", 'jane', 'John'],
    "last": ["schafer", 'Doe', 'Doe'],
    "email":["corey@gmail", "john@gmail", "jane@gmail"]
    
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last        email
0  corey  schafer  corey@gmail
1   jane      Doe   john@gmail
2   John      Doe   jane@gmail

In [5]:
df.email

0    corey@gmail
1     john@gmail
2     jane@gmail
Name: email, dtype: object

In [9]:
df.set_index('email', inplace=True)

In [10]:
df

             first     last
email
corey@gmail  corey  schafer
john@gmail    jane      Doe
jane@gmail    John      Doe

In [13]:
df.index

Index(['corey@gmail', 'john@gmail', 'jane@gmail'], dtype='object', name='email')

In [16]:
df.loc['jane@gmail', 'last']

'Doe'

In [18]:
df.reset_index(inplace=True)

In [19]:
df

         email  first     last
0  corey@gmail  corey  schafer
1   john@gmail   jane      Doe
2   jane@gmail   John      Doe

In [20]:
#Doing it from CSV directly is possible